.home-page {
  background-color: red;
  height: 100%;
  padding-top: 3rem;
}

.home-page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .home-page-header {
    height: 100%;
  }
}

.home-page-image {
  width: 200px;
  position: absolute;
}

.home-page-title {
  position: absolute;
  left: -9999px;
}

.decorative-page-title {
  width: 300px;
  font-weight: bolder;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: aqua;
}

.main-section {
  display: flex;
  width: 100%;
  padding: 0 2rem;
}

.main-section__controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  white-space: nowrap;
  position: relative;
}

.main-section__controls > * {
  margin-bottom: 1rem;
  background: none;
  border: none;
  font-weight: bold;
}

.main-section__content {
  flex: 2;
  background-color: bisque;
}

.close-link {
  position: absolute;
  right: 1rem;
}

.link {
  background-color: yellow;
  width: fit-content;
}
