.home-page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.home-page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding-bottom: 3rem;
}

.home-page-image {
  width: 200px;
}

.home-page-title {
  position: absolute;
  left: -9999px;
}

.decorative-page-title {
  width: 300px;
  font-weight: bolder;
}

.main {
  display: flex;
  justify-content: center;
  flex: 3;
}

.main-section {
  display: flex;
  width: 100%;
  max-width: 1500px;
  padding: 0 2rem;
}

.main-section__controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  white-space: nowrap;
  position: relative;
}

.main-section__controls > * {
  margin-bottom: 1rem;
  background: none;
  font-weight: bold;
}

.main-section__content {
  flex: 2;
  border-left: 3px solid black;
  position: relative;
}

.close-link {
  position: absolute;
  left: 1rem;
}

@media screen and (max-width: 600px) {
  .home-page-header {
    height: 100%;
    flex: none;
  }

  .main {
    height: 100%;
    flex: none;
  }

  .main-section {
    flex-direction: column;
    padding-top: 3rem;
  }

  .main-section__controls {
    flex: none;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 3rem;
  }

  .main-section__content {
    border-left: none;
  }
}
